<h1>Login</h1>

<%= form_with url: login_path, method: :post, local: true do %>
  <div>
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag "Login" %>
  </div>
<% end %>
